base64
requests
python-docx
opencv-python
numpy
matplotlib
torch
torchaudio
transformers
Pillow
pytesseract
openpyxl
pandas
tesseract
tesseract-ocr
pyheif
docx
openai==0.28
soundfile
